<%= simple_form_for @customer, html: {class: 'form-horizontal' } do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= f.input :name, label: 'Name  ', placeholder: 'Company Name'%>
  </div>

  <div class="field">
    
    <%= f.input :contact, label: "Contact  ", placeholder: 'Contact in charge' %>
  </div>

  <div class="field">
   
    <%= f.input :email, label: "Email  ", placeholder: 'Contact Email' %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
